.menu-item{
    -fx-border-color:     rgb(54,57,63) ;
    -fx-background-color: rgb(54,57,63);
}


.menu-bar, .menu{
    -fx-background-color: rgb(32,34,37);
    -fx-border-color:     rgb(32,34,37) ;
}

.context-menu {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: lightgrey;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;*/
    -fx-padding: 0;
}

.menu-item:hover{
    -fx-background-color: rgb(47,49,54);
}
